@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap';
@import './global.css';
@import './calendar-toolbar.css';
@import './calendar-row.css';
@import './calendar-day.css';
@import './calendar-aside.css';

.google-calendar__wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}
.google-calendar__title {
    margin-bottom: 1.25rem;
    text-align: center;
}
.google-calendar__content {
    display: flex;
}
.google-calendar__table {
    border: solid 1px #EEE;
    flex: 1 1 auto;
}