.google-calendar__aside {
    flex: none;
    width: 15%;
}
.google-calendar__calendar-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.google-calendar__calendar-list-item {
    display: flex;
    align-items: center;
}
.google-calendar__calendar-color-swatch {
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 5px;
}