.google-calendar__header,
.google-calendar__day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.28571%;
    padding: 10px;
    border-right: solid 1px #EEE;
    box-sizing: border-box;
}
.google-calendar__header:last-child,
.google-calendar__day:last-child {
    border: 0px;
}