@-ms-viewport {
	width: device-width;
}
html {
    font-size: 14px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, p {
    margin: 0px;
}
.google-calendar--ally-hidden {
    width: 0 !important;
    height: 0 !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
}